{% load static %}
<!--La barra de navegacion de la pagina web todo este código-->
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container">
    <!--Nombre de la persona-->
    <a class="navbar-brand fw-bold fst-italic" href="/">Joel Cedeño</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:posts' %}">Blog</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <!--Nombre de la descarga del menu para el curriculo-->
          <a class="btn btn-primary btn-sm" href="{% static 'portfolio/curriculum.pdf' %}" target="_blank">Descargar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
